*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}

.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 44px;
    height: 33px;
    background-image: url(../img/logo.png);
    background-size: contain;
}

.menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}


.menu-toggler span{
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

.navbar-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover{
    color: #48dbfb !important;
}

.sticky{
    background-color: #fff;
    padding: 18px 0;
}

.sticky .logo{
    background-image: url(/img/logo.png);
}

.sticky .navbar-menu a{
    color: #111;
}

.sticky .menu-toggler span{
    background-color: #111;
}

#home{
    height: 100vh;
    min-height: 500px;
    background: url(/img/background.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content{
    width: 100%;
    /* color: #fff; */
}

#home .content h1{
    font-size: 50px;
    margin-bottom: 60px;
}

#home .content h1::after{
    content: "Hi, I am DietHub";
    animation: textanim 10s linear infinite;
}

@keyframes textanim{
    25%{
        content: "Hi, I am DietHub";
    }
    50%{
        content: "Your Health Reminder";
    }
    75%{
        content: "You can track your food and calculate your calories with Me! :) ";
    }
}

.sm a{
    color: black;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
}


.sm a:hover{
    color: green;
}

#home .bottons{
    margin-top: 60px;
}

#home .bottons a{
    display: inline-block;
    margin: 15px 30px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid;
    padding: 12px 0;
    border-radius: 6px;
    transition: .2s linear;
}

#home .bottons a:hover,
#home .bottons a:nth-child(2)
{
    background-color: #48dbfb;
    color: #fff;
}

@media screen and (max-width: 880px){
    .menu-toggler{
        display: block;
    }

    .navbar-menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #353b48;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .3s linear;
    }

    .navbar-menu a{
        display: block;
        font-size: 30px;
        margin: 30px 0;
    }

    .sticky .navbar-menu{
        background-color: #f1f1f1;
    }

    .navbar-menu.active{
        right: 0;
    }

    .menu-toggler .active span:nth-child(1){
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler .active span:nth-child(2){
        opacity: 0;
    }

    .menu-toggler .active span:nth-child(3){
        transform: rotate(45deg);
        bottom: 14px;
    }
}