{% extends 'base.html' %} 

{% block head%} {% endblock%} 

{% block body%}

<h1>About MyDietHub</h1>

<div id="about">
  <p>Tracking calories is one of the easiest ways to regulate your diet.</p>
  <p>And, with MyDietHub, it is easier than ever!</p>
  <p>Simply enter your meal, and MyDietHub will obtain the calories from the USDA 
  website for all of the food items entered and will then compute the total calories for that meal.</p>
  <p>MyDietHub obtains calorie information form the USDA database that features nutritional information
  on over 1,200 common foods!</p>
  <p>We hope you enjoy using MyDietHub!</p>
</div>

{% endblock%}
