{% extends 'base.html' %}


{% block head%}
    <title>Register</title>
{% endblock%}

{% block body%}
{% include 'homenavigation.html' %}
   <div align="center">
       <h1>Register</h1>
         <h2 class="meal">
             <form action="{{ url_for('register') }}" method="post">
                 <div class="msg">{{ msg }}</div>
                 <div class = registration>
                     <input id="firstname" name="firstname" type="text" placeholder="Enter your Firstname" class="fnameTextbox"/>
                     <input id="lastname" name="lastname" type="text" placeholder="Enter your Lastname" class="lnameTextbox"/></br></br>
                     <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
                     <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox"/></br></br>
                     <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox"/></br></br>
                     <input type="submit" class="btn" value="Sign Up"></br>
                 </div>
             </form>
         </h2>
       <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
   </div>
{% endblock%}